{% extends '_layouts/base.njk' %}

{% block page_title %}{{ album.title }}{% endblock %}

{% block page_description %}{{ album.title }}{% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4">
      {% block info %}
      {% endblock %}
    </div>
    <div class="col-sm-8">
      {% block slug %}
        <h1>{{ album.title }}</h1>
        <p>{{ member.slug }}</p>
      {% endblock %}
    </div>
  </div>
</article>
{% endblock %}