{% extends '_layouts/base.njk' %}

{% block page_title %}{{ album.title }}{% endblock %}

{% block page_description %}{{ album.title }}{% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    {% block info %}
      <div class="col-sm-4">
        <div class="album-card">
          <div class="card img">
            <img src="img/discs/{{ album.image }}" alt="{{ album.title }}" class="responsive">
          </div>
          <div class="card-container">
            <h4><b><a href="{{ album.slug }}.html">{{album.title}}</a></b></h4>
            <p>Released: {{ album.year }}</p>
          </div>
        </div>
      </div>
    {% endblock %}
    {% block slug %}
      <div class="col-sm-8">
        {{ album.text|safe }}
      </div>
    {% endblock %}
  </div>
</article>
{% endblock %}