{% extends '_layouts/base.njk' %}

{% block page_title %}{{ member.name }}{% endblock %}

{% block page_description %}{{ member.name }}{% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4">
      {% block info %}
        <div class="card">
          <div class="card img">
            <img src="/img/members/{{ member.image }}" alt="{{ member.name }}" class="responsive">
          </div>
        <div class="container">
          <h4><b> <a href="{{ member.slug }}.html">{{member.name}}</a></b></h4>
          <p>
            <ul>
              <li>Instruments: {{ member.instruments }}</li>
              <li>Tenure: {{ member.tenure }}</li>
              <li>Birthplace: {{ member.birthplace }}</li>
              <li>Birthdate: {{ member.birthdate }}</li>
            </ul></p>
        </div>
        </div>
      {% endblock %}
    </div>
    <div class="col-sm-8">
      {% block slug %}
        <p>{{ member.text }}</p>
      {% endblock %}
    </div>
  </div>
</article>
{% endblock %}