{% extends '_layouts/base.njk' %}

{% block page_title %}{{ member.name }}{% endblock %}

{% block page_description %}{{ member.name }}{% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    {% block info %}
      <div class="col-sm-4">
        <div class="member-card">
          <div class="card img">
            <img src="img/members/{{ member.image }}" alt="{{ member.name }}" class="responsive">
          </div>
          <div class="card-container">
            <h4><b> <a href="{{ member.slug }}.html">{{member.name}}</a></b></h4>
            <p>
              <ul>
                <li>Born: {{ member.birthplace }}, {{ member.birthdate }}</li>
                <li>Instruments: {{ member.instruments }}</li>
                <li>Tenure: {{ member.tenure }}</li>
              </ul></p>
          </div>
        </div>
      </div>
    {% endblock %}
    {% block slug %}
      <div class="col-sm-8">
        {{ member.text|safe }}
      </div>
    {% endblock %}
  </div>
</article>
{% endblock %}