{% extends '_layouts/member.njk' %}

{% set member = data.members[0] %}

{% block page_title %}{{ member.name }}{% endblock %}

{% block page_description %}{{ member.slug }}{% endblock %}

{% block info %}
  <img src="/img/members/freddie-mercury-color.jpg" alt="" class="img-fluid">
{% endblock %}

{% block slug %}
  <h1>{{ member.name }}</h1>
  <p>{{ member.slug }}</p>
{% endblock %}