{% extends '_layouts/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block page_description %}Queen is a British rock band whose fusion of heavy metal, glam rock, and camp theatrics made it one of the most popular groups of the 1970s{% endblock %}

{% block content %}
{% include "_partials/carousel.njk" %}
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-12">
      <h2>Members</h2>
        {% for member in data.members %}
          {% include "_partials/member-card.njk" %}
        {% endfor %}
      <h2>Discography</h2>
        {% for album in data.discography %}
          {% include "_partials/index-card.njk" %}
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
