{% extends '_layouts/base.njk' %}

{% block page_title %}Queen{% endblock %}

{% block page_description %}Queen{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-12">
      <h2>Members</h2>
          {% include "_partials/member-card.njk" %}
      <h2>Discography</h2>
          {% include "_partials/album-card.njk" %}
    </div>
  </div>
</div>
{% endblock %}
