{% extends '_layouts/base.njk' %}

{% block page_title %}New index page title{% endblock %}

{% block page_description %}The search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Queen</h1>
      <h3>Members</h3>
      {% for member in data.members %}
      <li>{{ member.name }}, {{ member.instrument }}</li>
      {% endfor %}
      <ol>
        <ul><a href="freddiem.html">Freddie Mercury</a></ul>
        <ul><a href="brianm.html">Brian May</a></ul>
        <ul><a href="johnd.html">John Deacon</a></ul>
        <ul><a href="rogert.html">Roger Taylor</a></ul>
      </ol>
      <h3>Discography</h3>
      {% for album in data.discography %}
      <li>{{ album.title }}, {{ album.release_date }}</li>
      {% endfor %}
      <ol>
        <ul><a href="queen.html">Queen</a></ul>
     </ul>
    </div>
  </div>
</div>
{% endblock %}
