{% extends '_layouts/member.njk' %}

{% set member = data.members[2] %}

{% block info %}
  <img src="/img/members/john-deacon-color.jpg" alt="" class="img-fluid">
{% endblock %}

{% block slug %}
  <h1>{{ member.name }}</h1>
  <p>{{ member.slug }}</p>
  <h3>Information:</h3>
      <ul>
        <li>{{ member.instrument }}</li>
        <li>{{ member.tenure }}</li>
        <li>{{ member.birthplace }}</li>
        <li>{{ member.birthdate }}</li>
      </ul>
{% endblock %}