<div class="card">
  <img src="discs/{{ album.image }}" alt="{{album.title}}" class="responsive col-sm-6 col-lg-12">
  <div class="container">
    <h4><b> <a href="{{ album.slug }}.html">{{album.title}}</a></b></h4>
    <p>Released: {{ album.year }}</p>
  </div>
</div>