<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Queen</h1>
    <p class="lead">Queen is a British rock band whose fusion of heavy metal, glam rock, and camp theatrics made it one of the most popular groups of the 1970s</p>
  </div>
</div>
