<div class="row">
{% for member in data.members%}
  <div class="col-sm-6 col-lg-3">
    <div class="card">
      <div class="card img">
        <img src="img/members/{{ member.image }}" alt="Avatar" class="responsive">
      </div>
      <div class="container">
        <h4><b> <a href="{{ member.slug }}.html">{{member.name}}</a></b></h4>
        <p>
          <ul>
            <li>Instruments: {{ member.instruments }}</li>
            <li>Tenure: {{ member.tenure }}</li>
            <li>Birthplace: {{ member.birthplace }}</li>
            <li>Birthdate: {{ member.birthdate }}</li>
          </ul></p>
      </div>
    </div>
  </div>
{% endfor %}
</div>