.jumbotron{
  background: url('../img/queen-band-wallpaper-thin.jpg') no-repeat center center;
  vertical-align: text-top;
  font-family: 'Cinzel', serif;
  h1, p{
    color: whitesmoke;
    text-shadow: 2px 2px dimgray;
    vertical-align: bottom;
  }
}
